@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700&display=swap');

:root {
    --barlow: 'Barlow', sans-serif;
    --fraunces: 'Fraunces', serif;
    --b_fsize: 18px;
    --weight600: 600;
    --weight700: 700;
    --weight900: 900;

    --softred: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --dark-desat-cyan: hsl(167, 40%, 24%);
    --darkblue: hsl(198, 62%, 26%);
    --dark-mod-cyan: hsl(168, 34%, 41%);

    --very-dark-desat-blue: hsl(212, 27%, 19%);
    --very-dark-gray-blue: hsl(213, 9%, 39%);
    --dark-grayish-blue: hsl(232, 10%, 55%);
    --grayish-blue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: var(--barlow);
    color: var(--very-dark-gray-blue);
    font-size: 18px;
}

.container {
    position: relative;
    width: 100%;
    height: 700px;
    background: url("/images/desktop/image-header.jpg") no-repeat center;
    background-size: cover;
}

nav {
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
}

nav li {
    text-decoration: none;
    display: inline-block;
    padding: 0px 20px;
    color: var(--white);
}

.navbrand {
    cursor: pointer;
}

.cta {
    border: none;
    padding: 10px 20px;
    background-color: var(--white);
    border-radius: 50px;
    font-family: var(--fraunces);
    cursor: pointer;
}

.hero {
    position: relative;
    top: 10%;
    font-family: var(--fraunces);
    font-weight: var(--weight700);
    color: var(--white);
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero img {
    padding: 80px;
}

section {
    display: flex;
    align-items: center;
}

section div {
    width: 50%;
}

.section-img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: fill;
    object-position: 0 0;
}

h2 {
    font-family: var(--fraunces);
    font-weight: var(--weight900);
    font-size: 30px;
    color: var(--very-dark-desat-blue);
    padding: 30px 0px;
}



.learn-more{
    position: relative;
    top: 30px;
    font-family: var(--fraunces);
    font-weight: var(--weight700);
    text-transform: uppercase;
    padding: 30px 0px 8px;
    color: var(--very-dark-desat-blue);
}

.learn-more::before {
    content: "";
    display: block;
    position: absolute;
    top: 70%;
    left: 50%;
    bottom: 16px;
    width: 100px;
    height: 14px;
    transform: skew(-12deg) translateX(-50%);
    background-color: var(--yellow);
    z-index: -1;
}

.learn-more-red{
    position: relative;
    top: 30px;
    font-family: var(--fraunces);
    font-weight: var(--weight700);
    text-transform: uppercase;
    padding: 30px 0px 8px;
    color: var(--very-dark-desat-blue);
}

.learn-more-red::before {
    content: "";
    display: block;
    position: absolute;
    top: 70%;
    left: 50%;
    bottom: 16px;
    width: 100px;
    height: 14px;
    transform: skew(-12deg) translateX(-50%);
    background-color: var(--softred);    
    z-index: -1;
}

.section-text {
    padding: 100px;
    box-sizing: border-box;
    color: var(--dark-grayish-blue);
    font-weight: var(--weight600);
    font-size: 16px;
}

.wrapper {
    position: relative;
}

.wrapper-text {
    position: absolute;
    top: 60%;
    left: 25%;
    text-align: center;
}

.blue {
    background-color: var(--dark-desat-cyan);
}

.green {
    background-color: var(--darkblue);
}
.card-wrapper {
    padding: 100px;
 
}

.card-wrapper h3{
    font-family: var(--fraunces);
    font-weight: var(--weight900);
    color: var(--very-dark-desat-blue);
    text-align: center;
    padding: 50px 0px;

}

h4{
    color: var(--very-dark-desat-blue);
}
.cards {
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.card {
    width: 30%;
}

.card img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.card > p{
    padding: 50px 0px;
}

.card-footer h4 {
    font-family: var(--fraunces);
    font-weight: var(--weight700);
}

.gallery {
    display: flex;
}

.gallery img {
    width: 25%;
    margin: 0px;
}

footer > nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: var(--dark-mod-cyan);
}

.navbrand, nav > ul{
    padding-bottom: 20px;
}

footer .navbrand{
    color: var(--dark-desat-cyan);
}

svg {
    fill: currentColor;
}

footer > nav > ul > li {
    color: var(--dark-desat-cyan);
}

.socials img {
 padding: 20px;
}