@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700&display=swap');

:root {
    --barlow: 'Barlow', sans-serif;
    --fraunces: 'Fraunces', serif;
    --b_fsize: 18px;
    --weight600: 600;
    --weight700: 700;
    --weight900: 900;

    --softred: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --dark-desat-cyan: hsl(167, 40%, 24%);
    --darkblue: hsl(198, 62%, 26%);
    --dark-mod-cyan: hsl(168, 34%, 41%);

    --very-dark-desat-blue: hsl(212, 27%, 19%);
    --very-dark-gray-blue: hsl(213, 9%, 39%);
    --dark-grayish-blue: hsl(232, 10%, 55%);
    --grayish-blue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: var(--barlow);
    color: var(--very-dark-gray-blue);
    font-size: 18px;
}

.container {
    position: relative;
    width: 100%;
    height: 700px;
    background: url(/sunnyside-agency-landing-page-main/images/desktop/image-header.jpg)no-repeat center;
    background-size: cover;
}

nav {
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
}

nav li{
    text-decoration: none;
    display: inline-block;
    padding: 0px 20px;
}



.navbrand {
    cursor: pointer;
}

.cta {
    border: none;
    padding: 10px 20px;
    background-color: var(--white);
    border-radius: 50px;
    font-family: var(--fraunces);
    cursor: pointer;
}

a {
    color: white;
    text-decoration: none;
}

footer a {
    color: var(--dark-desat-cyan);
    text-decoration: none;
}

a:hover {
    color: var(--dark-grayish-blue);
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: white;
}

    @media (max-width: 792px) {
        .hamburger {
            display: block;
        }

        .hamburger.active .bar:nth-child(2) {
            opacity: 0;
        }

        .hamburger.active .bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
        }

        .hamburger.active .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
        }

        a {
            color: var(--dark-grayish-blue);
        }

        a:hover {
            color: var(--grayish-blue);
        }

        .navmenu{
            position: absolute;
            left: -100%;
            top: 100px;
            gap: 0;
            display: flex;
            align-items: center;
            flex-direction: column;
            background: white;
            width: 80%;
            padding: 20px 5px;
            text-align: center;
            transition: 0.3s;
            z-index: 1;
        }

        .navlinks {
            margin: 16px 0;
        }

        .navmenu.active {
            left: 10%;
        }

        .cta {
            background-color: var(--yellow);
            color: var(--very-dark-desat-blue);
        }

        footer a {
            color: var(--dark-desat-cyan)
        }
    }

.hero {
    position: relative;
    top: 10%;
    font-family: var(--fraunces);
    font-weight: var(--weight700);
    color: var(--white);
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero img {
    padding: 80px;
}

section {
    display: flex;
    align-items: center;
}

section div {
    width: 50%;
}

.section-img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: fill;
    object-position: 0 0;
}

h2 {
    font-family: var(--fraunces);
    font-weight: var(--weight900);
    font-size: 30px;
    color: var(--very-dark-desat-blue);
    padding: 30px 0px;
}

.learn-more{
    position: relative;
    top: 30px;
    font-family: var(--fraunces);
    font-weight: var(--weight700);
    text-transform: uppercase;
    padding: 30px 0px 8px;
    color: var(--very-dark-desat-blue);
    cursor: pointer;
}

.learn-more::before {
    content: "";
    display: block;
    position: absolute;
    top: 70%;
    left: 50%;
    bottom: 16px;
    width: 100px;
    height: 14px;
    transform: skew(-12deg) translateX(-50%);
    background-color: var(--yellow);
    z-index: -1;
}

.learn-more-red{
    position: relative;
    top: 30px;
    font-family: var(--fraunces);
    font-weight: var(--weight700);
    text-transform: uppercase;
    padding: 30px 0px 8px;
    color: var(--very-dark-desat-blue);
    cursor: pointer;
}

.learn-more-red::before {
    content: "";
    display: block;
    position: absolute;
    top: 70%;
    left: 50%;
    bottom: 16px;
    width: 100px;
    height: 14px;
    transform: skew(-12deg) translateX(-50%);
    background-color: var(--softred);    
    z-index: -1;
}

.section-text {
    padding: 100px;
    box-sizing: border-box;
    color: var(--dark-grayish-blue);
    font-weight: var(--weight600);
    font-size: 16px;
}

    @media (max-width: 792px){
        section {
            flex-direction: column;
        }

        section div {
            width: 100%;
        }
        #section2 {order: 1;}
        #section1 {order: 2;}
        #section3 {order: 3;}
        #section4 {order: 4;}
    }

.wrapper {
    position: relative;
}

.wrapper-text {
    position: absolute;
    top: 60%;
    left: 25%;
    text-align: center;
}

@media (max-width: 792px) {
    .wrapper {
        position: relative;
    }
    
    .wrapper-text {
        position: absolute;
        top: 60%;
        left: 10%;
        text-align: center;
        width: 80%;
    }
}

.blue {
    color: var(--dark-desat-cyan);
}

.green {
    color: var(--darkblue);
}


@media (max-width: 792px) {
    .cards {
        flex-direction: column;
        align-items: center;
    }

    .card {
        padding: 30px;
        width: 100% !important;
    }

    .gallery {
        flex-wrap: wrap;
    }
    .gallery img {
        width: 50% !important;
        margin: 0px;
        height: 50%;
    }
}

.card-wrapper {
    padding: 100px;
 
}

.card-wrapper h3{
    font-family: var(--fraunces);
    font-weight: var(--weight900);
    color: var(--grayish-blue);
    text-align: center;
    text-transform: uppercase;
    padding: 50px 0px;

}

h4{
    color: var(--very-dark-desat-blue);
}

.title {
    color: var(--grayish-blue);
}

.cards {
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.card {
    width: 30%;
}

.card img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.card > p{
    padding: 50px 0px;
}

.card-footer h4 {
    font-family: var(--fraunces);
    font-weight: var(--weight700);
}

.gallery {
    display: flex;
}

.gallery img {
    width: 25%;
    margin: 0px;
}

footer > nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: var(--dark-mod-cyan);
}

.navbrand, nav > ul{
    padding-bottom: 20px;
}

footer .navbrand{
    color: var(--dark-desat-cyan);
}

svg {
    fill: currentColor;
}

footer > nav > ul > li {
    color: var(--dark-desat-cyan);
}

.socials img {
 padding: 20px;
}